html,body{
  height: 100%;
 	margin: 0;
 	padding: 0;
 	font-family: 'Times New Roman', Times, serif;
  background: black;
}

.cover {
  position: relative;
}

#bg-video {
  min-width: 100%;
  min-height: 100vh;
  max-width: 100%;
  max-height: 100vh;
  object-fit: cover;
  z-index: -1;
}

#bg-video::-webkit-media-controls {
  display: none !important;
}

.caption {
  position: absolute;
  width: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.wellcome {
  margin-top: 125px;
  font-size: 80px;
  font-weight: 800;
  color: rgb(255, 196, 0);
  letter-spacing: 1px;
}

.name {
  margin-top: -100px;
  margin-bottom: 15px;
  font-size: 100px;
  font-weight: 800;
  color: #4caf50;
  letter-spacing: 1px;
}

.log {
  border: none;
  border-radius: 12px;
  width: 150px;
  height: 60px;
  background: rgb(255, 196, 0);
  font-size: 20px;
}

.log a {
  text-decoration: none;
  color: black;
}

.log:hover {
  background-color: #46b307;
}

.ilog {
  border: none;
  border-radius: 12px;
  width: 150px;
  height: 60px;
  background: rgb(255, 196, 0);
  font-size: 20px;
  margin-left: 110px;
}

.ilog a {
  text-decoration: none;
  color: black;
}

.ilog:hover {
  background-color: #46b307;
}

.alog {
  border: none;
  border-radius: 12px;
  width: 150px;
  height: 60px;
  background: red;
  font-size: 20px;
  margin-left: 110px;
}

.alog a {
  text-decoration: none;
  color: black;
}

.alog:hover {
  background-color: rgb(255, 196, 0);
}

.divider {
  margin-top: 60px;
  border: none;
  height: 3px;
  background: #4caf50;
  width: 100%;
}

.uReg {
  border: none;
  border-radius: 10px;
  width: 230px;
  height: 45px;
  background: #46b307;
  font-size: 19px;
}

.uReg a {
  text-decoration: none;
  color: black;
}

.uReg:hover {
  background-color: rgb(255, 196, 0);
}

.iReg {
  border: none;
  border-radius: 10px;
  width: 230px;
  height: 45px;
  background: #46b307;
  font-size: 19px;
}

.iReg a {
  text-decoration: none;
  color: black;
}

.iReg:hover {
  background-color: rgb(255, 196, 0);
}

.user {
  font-size: 40px;
  font-weight: 400;
  color: rgb(255, 196, 0);
  letter-spacing: 1px;
}

.instructor {
  font-size: 40px;
  font-weight: 400;
  color: rgb(255, 196, 0);
  letter-spacing: 1px;
}
